.container {
  /* background-color: rgba(46,94,170,.96); */
  background-color: rgba(159,131,140,.3);
  padding: 3rem 0;
  /* color: #E7EFF6; */
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin : 0 auto;
}

.cardContent {
  margin: 1em auto;
}

.cardContent > h2 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: .4em 0;
  letter-spacing: 2px;
}

.cardContent > p {
  margin: 1em 0;
  line-height: 1.5rem;
  letter-spacing: 1px;
}