.container {
  background-color: #FFDF64;
  margin: 1rem 0;
  padding: 2rem 0;
}

.container h1 {
  letter-spacing: 4px;
}

.content {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.avatar {
  border-radius: 10px;
}

.boxText {
  margin-top: .4rem;
}

.boxText p {
  margin: 1em 0;
  line-height: 1.5rem;
  letter-spacing: 1px;
}