.container {
  width: 100%;
  height: 86vh;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.boxTitles {
  text-align: center;
  letter-spacing: 2px;
}

.boxTitles h1 {
  font-size: 2.8em;
  margin: .5em 0;
}

.boxTitles h2 {
  font-size: 1.2rem;
}

