.flexCenter {
  display: flex;
  justify-content: center;
} 

.titleSection {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 1.2em;
  letter-spacing: 2px;
}

.marginSection {
  margin: 1rem 0;
}