.container {
  padding: 2.5rem 0;
}

.container h1 {
  color: rgba(46,94,170,.8);
  margin-bottom: 1.5em;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}

.cardCourse {
  border-radius: 10px;
  margin-bottom: .8em;
  padding: 1.6em .6em;
  background-color: rgba(46,94,170,.3);
}

.cardCourse h3 {
  font-weight: 500;
  font-size: 1.06rem;
}

.cardCourse span {
  display: block;
  margin: .6em 0;
}

.cardCourse p, .cardCourse span {
  line-height: 1.5rem;
  letter-spacing: 1px;
}